
  {{>navegador}}

  <!-- Contenido principal -->    
      <div class="container" id="con">

        <h2>Información de Actividades</h2>
        <p>En esta sección, podrás obtener información sobre las actividades escolares:</p>
        <p><strong>Día de Ciencias: </strong> Un día dedicado a experimentos científicos y actividades prácticas, donde los estudiantes pueden aprender sobre diferentes conceptos científicos a través de la exploración y la diversión.
        </p>
        <p><strong>Feria Cultural:</strong> Una feria donde cada estudiante representa un país o cultura diferente, compartiendo información sobre sus tradiciones, comidas, vestimenta y otros aspectos culturales.
        </p>
        <p><strong>Olimpiadas Deportivas:</strong> Un evento deportivo interno con diversas competiciones, como carreras, salto, lanzamiento, fútbol y más, para fomentar el espíritu deportivo y la colaboración.
        </p>
        <p><strong>Día de las Artes:</strong> Un día dedicado a las artes, donde los estudiantes pueden participar en talleres de pintura, música, teatro, danza y manualidades.
        </p>
        <p><strong>Semana del Libro: </strong> Una semana dedicada a la lectura, donde los estudiantes pueden intercambiar libros, participar en sesiones de cuentacuentos y explorar diferentes géneros literarios.
        </p>
        <p><strong>Jornada Ecológica:</strong> Un día para concienciar sobre el medio ambiente y la importancia de cuidar nuestro entorno. Los estudiantes pueden participar en actividades de limpieza, siembra de árboles y reciclaje.
        </p>
        <p><strong>Día de Carreras:</strong> Los estudiantes diseñan y construyen sus propios autos de cartón y compiten en una emocionante carrera cuesta abajo.
        </p>
        <p><strong>Semana de la Salud:</strong> Una semana dedicada a promover hábitos saludables. Se pueden organizar charlas sobre nutrición, ejercicios, higiene y emociones.
        </p>
        <p><strong>Noche de Talentos:</strong> Un evento donde los estudiantes pueden mostrar sus talentos en canto, baile, actuación, magia y otras habilidades especiales.
        </p>
        <p><strong>Día de Ciencias Sociales:</strong> Un día para explorar diferentes aspectos de la sociedad, la historia y la geografía, con actividades interactivas y recreaciones históricas.
        </p>

      </div>
  </div>
