
{{>prof}}

  <!-- Contenido principal -->
  <div class="container">
    <h2>Ha iniciado sesion</h2>
    <h3><strong>Docente: </strong> Nombre completo del docente</h3>
    <h4><strong>Materia: </strong> Materia Ejemplo</h4>
    <h4><strong>Turno/s: </strong> Turno Ejemplo</h4>
    <h4><strong>Grupo/s: </strong> Grupos Ejemplo</h4>

    
  </div>