{{>navegador}}
<div class="container" id="con">
        <h2><strong>Pagos</strong></h2>
        <p>Aquí puedes encontrar información sobre los pagos y cuotas escolares:</p>
        <p>Cuota de Inscripción:</p>
        <p>Cuota de inscripción anual para nuevos estudiantes: $100 (puede variar según el año escuela)
        <p><strong>Mensualidad:</strong></p>
        <p>Matrícula mensual para estudiantes de primaria (por mes): $200 (este es un precio hipotético y puede variar según la región y la escuela)</p>
        <p>Otros Cargos Adicionales (opcionales):</p>
        <p>Uniforme escolar (conjunto completo): $50
          Material escolar (libros, cuadernos, lápices, etc.): $30 (precio aproximado, puede variar)
          Excursiones y actividades extracurriculares: Costo variable, dependiendo de la actividad.</p>
        </p>
      </div>


      